.nav-bar li {
    display: inline-block;
    margin:0;
    padding:0;
}
.dropdown-item ul {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.dropdown-item {
    background: white;
    padding: 0;
}

.link-button{
    margin: 5px;
    background: black;
}
.link-button:hover{
    background: white;
    color: black;
}
.link-button a:hover{
    color: black;
}

.link-name{
    color: white;
}


